{% extends 'base.html' %}

{% block meta %}
<title>Register Pengguna</title>
{% endblock meta %}

{% block content %}
{% include 'navbar.html' %}
<div class="page min-h-screen flex items-center justify-center py-12 px-4 sm:px-6 lg:px-8">
  <div class="max-w-xl w-full space-y-8 form-style bg-white shadow-lg p-10 mb-10" style="border-radius: 1rem;">
    <div>
      <h2 class="mt-6 text-center text-3xl font-extrabold text-blue-800">
        Create your account
      </h2>
    </div>
    <form class="mt-8 space-y-6" method="POST">
      {% csrf_token %}
      <input type="hidden" name="remember" value="true">
      <div class="rounded-md">
        <div class="mb-4">
          <label for="nama" class="mb-2 font-semibold text-black">Nama</label>
          <input type="text" id="nama" name="nama" class="w-full border rounded-md px-3 py-2 focus:outline-none focus:ring focus:ring-blue-300" required>
        </div>
        <div class="mb-4">
          <label for="password1" class="mb-2 font-semibold text-black">Password</label>
          <input type="password" id="password1" name="password1" class="w-full border rounded-md px-3 py-2 focus:outline-none focus:ring focus:ring-blue-300" required>
        </div>
        <div class="mb-4">
          <label for="jenis_kelamin" class="mb-2 font-semibold text-black">Jenis Kelamin</label>
          <select id="jenis_kelamin" name="jenis_kelamin" class="w-full border rounded-md px-3 py-2 focus:outline-none focus:ring focus:ring-blue-300" required>
            <option value="L">Laki-laki</option>
            <option value="P">Perempuan</option>
          </select>
        </div>
        <div class="mb-4">
          <label for="no_hp" class="mb-2 font-semibold text-black">No. HP</label>
          <input type="text" id="no_hp" name="no_hp" class="w-full border rounded-md px-3 py-2 focus:outline-none focus:ring focus:ring-blue-300" required>
        </div>
        <div class="mb-4">
          <label for="tgl_lahir" class="mb-2 font-semibold text-black">Tanggal Lahir</label>
          <input type="date" id="tgl_lahir" name="tgl_lahir" class="w-full border rounded-md px-3 py-2 focus:outline-none focus:ring focus:ring-blue-300" required>
        </div>
        <div class="mb-4">
          <label for="alamat" class="mb-2 font-semibold text-black">Alamat</label>
          <textarea id="alamat" name="alamat" class="w-full border rounded-md px-3 py-2 focus:outline-none focus:ring focus:ring-blue-300" required></textarea>
        </div>
        <div class="mb-4">
          <label for="nama_bank" class="mb-2 font-semibold text-black">Nama Bank</label>
          <select id="nama_bank" name="nama_bank" class="w-full border rounded-md px-3 py-2 focus:outline-none focus:ring focus:ring-blue-300" required>
            <option value="GoPay">GoPay</option>
            <option value="OVO">OVO</option>
            <option value="VA_BCA">Virtual Account BCA</option>
            <option value="VA_BNI">Virtual Account BNI</option>
            <option value="VA_Mandiri">Virtual Account Mandiri</option>
          </select>
        </div>
        <div class="mb-4">
          <label for="nomor_rekening" class="mb-2 font-semibold text-black">Nomor Rekening</label>
          <input type="text" id="nomor_rekening" name="nomor_rekening" class="w-full border rounded-md px-3 py-2 focus:outline-none focus:ring focus:ring-blue-300" required>
        </div>
        <div class="mb-4">
          <label for="npwp" class="mb-2 font-semibold text-black">NPWP</label>
 <input type="text" id="npwp" name="npwp" class="w-full border rounded-md px-3 py-2 focus:outline-none focus:ring focus:ring-blue-300" required>
        </div>
        <div class="mb-4">
          <label for="link_foto" class="mb-2 font-semibold text-black">Link Foto</label>
          <input type="url" id="link_foto" name="link_foto" class="w-full border rounded-md px-3 py-2 focus:outline-none focus:ring focus:ring-blue-300" required>
        </div>
      </div>

      <div>
        <button type="submit" class="text-sm font-medium rounded-md text-white bg-blue-800 hover:bg-blue-900 group relative w-full flex justify-center py-2 px-4 border border-transparent">
          Register
        </button>
      </div>
    </form>

    {% if error %}
      <div id="error-message" class="flex justify-center items-center mt-6">
        <div class="text-center text-red-600 font-semibold bg-red-100 border border-red-400 rounded-md p-4 w-full max-w-md transition-opacity duration-500" id="error-content">
          {{ error }}
        </div>
      </div>
    {% endif %}

    <div class="text-center mt-4">
      <p class="text-sm text-black">
        Already have an account?
        <a href="{% url 'authentication:login' %}" class="font-medium text-blue-600 hover:text-blue-500">
          Login here
        </a>
      </p>
    </div>
  </div>
</div>
<script>
  setTimeout(function() {
    var errorContent = document.getElementById('error-content');
    if (errorContent) {
      errorContent.style.opacity = '0'; // Mengubah opacity menjadi 0
      setTimeout(function() {
        var errorMessage = document.getElementById('error-message');
        errorMessage.style.display = 'none'; // Menyembunyikan elemen setelah animasi selesai
      }, 500); // Waktu yang sama dengan durasi transisi
    }
  }, 5000);
</script>
<style>
  #error-content {
    opacity: 1; 
  }
</style>
{% endblock content %}