{% extends 'base.html' %}
{% block content %}
{% include 'navbar.html' %}
<div class="container mx-auto px-96 py-8 my-20">
    <div class="flex justify-between items-center mb-6">
        <h1 class="text-3xl font-bold">Profil Pekerja</h1>
        <div class="w-48 h-48 rounded-full overflow-hidden border-2 border-gray-300">
            <img src="{{ link_foto }}" alt="Foto Profil" class="w-full h-full object-cover">
        </div>
    </div>
    <ul class="bg-white shadow-md rounded-lg p-6">
        <li class="mb-4"><strong class="text-gray-700">Nama: </strong> <span class="text-gray-900">{{ nama }}</span></li>
        <li class="mb-4"><strong class="text-gray-700">Jenis Kelamin: </strong> <span class="text-gray-900">{{ jenis_kelamin }}</span></li>
        <li class="mb-4"><strong class="text-gray-700">No. HP: </strong> <span class="text-gray-900">{{ no_hp }}</span></li>
        <li class="mb-4"><strong class="text-gray-700">Tanggal Lahir: </strong> <span class="text-gray-900">{{ tgl_lahir }}</span></li>
        <li class="mb-4"><strong class="text-gray-700">Alamat: </strong> <span class="text-gray-900">{{ alamat }}</span></li>
        <li class="mb-4"><strong class="text-gray-700">Saldo MyPay: </strong>Rp. <span class="text-gray-900">{{ saldo_mypay }}</span></li>
        <li class="mb-4"><strong class="text-gray-700">NPWP: </strong> <span class="text-gray-900">{{ npwp }}</span></li>
        <li class="mb-4"><strong class="text-gray-700">No. Rekening: </strong> <span class="text-gray-900">{{ nomor_rekening }}</span></li>
        <li class="mb-4"><strong class="text-gray-700">Rating: </strong> <span class="text-gray-900">{{ rating }}</span></li>
        <li class="mb-4"><strong class="text-gray-700">Jumlah Pesanan Selesai: </strong> <span class="text-gray-900">{{ jml_pesanan_selesai }}</span></li>
        <li class="mb-4"><strong class="text-gray-700">Kategori Pekerjaan: </strong> <span class="text-gray-900"></span></li>
        {% for k in kategori_jasa %}
            <li class="mb-4"><strong class="text-gray-700">- </strong> <span class="text-gray-900">{{ k }}</span></li>
        {% endfor %}
    </ul>
    <a href="{% url 'userprofile:edit_profile_pekerja' %}" class="mt-6 inline-block bg-blue-500 text-white font-semibold py-2 px-4 rounded hover:bg-blue-600 transition duration-200">Update Profil</a>
</div>
{% endblock %}